{% extends 'base.html' %}
{%block content%}
    <title>Cats</title>
</head>
<body>
<img src="{{cats1.0}}"
width="300"
height="300"
alt="Фотографию не удалось загрузить:("
/>


<img src="{{cats1.1}}"
width="300"
height="300"
alt="Фотографию не удалось загрузить:("
/>


<img src="{{cats1.2}}"
width="300"
height="300"
alt="Фотографию не удалось загрузить:("
/>


<img src="{{cats1.3}}"
width="300"
height="300"
alt="Фотографию не удалось загрузить:("
/>


<img src="{{cats1.4}}"
width="300"
height="300"
alt="Фотографию не удалось загрузить:("
/>


<img src="{{cats1.5}}"
width="300"
height="300"
alt="Фотографию не удалось загрузить:("
/>


<img src="{{cats1.6}}"
width="300"
height="300"
alt="Фотографию не удалось загрузить:("
/>


<img src="{{cats1.7}}"
width="300"
height="300"
alt="Фотографию не удалось загрузить:("
/>


<img src="{{cats1.8}}"
width="300"
height="300"
alt="Фотографию не удалось загрузить:("
/>


<img src="{{cats1.9}}"
width="300"
height="300"
alt="Фотографию не удалось загрузить:("
/>


<img src="{{cats1.10}}"
width="300"
height="300"
alt="Фотографию не удалось загрузить:("
/>


<img src="{{cats1.11}}"
width="300"
height="300"
alt="Фотографию не удалось загрузить:("
/>


{%endblock%}