{% extends 'base.html' %}
{%block content%}

<h2><i><font size="50">Главная страница</font></i></h2>

<img src="https://sun6-23.userapi.com/s/v1/if1/ahxh8DGyDx_F9_G2I8az50uxGNxxI7l_KlxGBpUIIcSMsDlDrDLDg9dlhJ4szaze_N6Xk-rh.jpg?size=1794x1934&quality=96&crop=68,68,1794,1934&ava=1"
width="700"
height="600"
alt="Фотографию не удалось загрузить:("
/>
<img src="https://kiosk.pdsp.ru/attachments/Image/HOME_6.png?template=generic"
width="700"
height="500"
alt="Фотографию не удалось загрузить:("
/>




{%endblock%}
